<template>
    <div class="site-navbar py-2">
        <div class="search-wrap">
            <div class="container">
                <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                <form action="#" method="post">
                    <label for="search"></label>
                    <input type="text" class="form-control" placeholder="Search keyword and hit enter..." id="search">
                </form>
            </div>
        </div>
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <div class="site-logo">
                        <a :href="'/'" class="js-logo-clone">Pharma</a>
                    </div>
                </div>
                <div class="main-nav d-none d-lg-block">
                    <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="active">
                                <a :href="'/'">Home</a>
                            </li>
                            <li>
                                <a :href="'/medications'">Store</a>
                            </li>
                            <li class="has-children">
                                <a :href="'/categories/'">Categories</a>
                                <ul class="dropdown">
                                    <li v-for="category in categories" :key="category.id">
                                        <a :href="'/categories/' + category.name.toLowerCase()">{{ category.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a :href="'/about'">About</a>
                            </li>
                            <li>
                                <a :href="'/contact'">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="icons">
                    <a href="#" class="icons-btn d-inline-block js-search-open">
                        <span class="icon-search"></span>
                    </a>
                    <a :href="'/card'" class="icons-btn d-inline-block bag">
                        <span class="icon-shopping-bag"></span>
                        <span class="number">2</span>
                    </a>
                    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                        class="icon-menu"></span></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Navbar",
        data(){
            return {
                categories: [],
                category: {
                    id: '',
                    name: '',
                    status: ''
                },
                pagination: {},
                edit: false
            };
        },
        created() {
            this.fetchCategories();
        },
        methods: {
            fetchCategories(){
                fetch('api/categories')
                .then(res => res.json())
                .then(res => {
                    this.categories = res.result.data.categories;
                })
            }
        }
    }
</script>

<style scoped>

</style>
